.spostare{
    display: block;
    animation: sposta 0.3s linear forwards;

}

@keyframes sposta{
    100% {transform: translate(838px , 248px);}
}

.done{
    text-decoration: line-through;
    color: greenyellow;
}

.done::after{
    content: '\2705';
}