.spostare{
    display: block;
    animation: sposta 0.4s linear forwards;

}

@keyframes sposta{
    99% {
        transform: translate(838px , 248px);
    }
    100% {
        opacity: 0;
    }
}

.done{
    text-decoration: line-through;
    color: greenyellow;
}

.done::after{
    content: '\2705';
}


